@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Oxanium', sans-serif;
    height: 100vh;
    background-color: rgb(23, 22, 22);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgb(30, 33, 33);
    transition: all 0.3s ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: wheat;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

main {
    text-align: center;
}

p {
    color: grey;
}

button {
    background: gold;
    padding: 6px 75px;
    border: none;
    border-radius: 10px;
    font-size: larger;
    text-align: center;
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
    font-weight: bolder;
    color: aliceblue;
}

.activities-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.activities-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.activities-card img {
    width: 75%;
    object-fit: contain;
    max-height: 200px;
    margin-bottom: 10px;
}

.activities-card a{
    text-decoration: none;
    color: aliceblue;
    font-weight: lighter;
}

.games a {
    color: black;
    text-decoration: none;
}

#quoteside {
    background-color: #1f2937;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 2em;
    min-height: 100px;
    z-index: 10;
    position: relative;
}

#quoteContainer p {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1s ease-in-out;
}
#quoteContainer.show p{
    transform: translateY(0);
    opacity: 1;
}

.selection-container h1{
    text-align: center;
    font-size: 72px;
    color: aliceblue;
}

.search-container{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar {
    padding: 10px;
    width: 50%;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: antiquewhite;
    color: #1f2937;
    font-size: 16px;
}

#search-bar:focus {
    outline: none;
    border-color: #4ade80;
    box-shadow: 0 0 5px rgba(74, 222, 128, 0.5);
}

.games-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
}


.games-info h3 {
    text-align: left;
}

.games-info button{
    cursor: pointer;
}

.game-text {
    max-width: 50%;
}

footer {
    background-color: rgb(28, 2, 2);
    text-align: center;
    margin-top: auto;
    color: white;
}